body {
	font-size:85%;
	font-family:Arial, Helvetica, Open Sans, sans-serif;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid transparent;
    font-size:1em;
}
th {
	background-color: #c6c6c6;
	padding: 3px;
}
td {
    padding: 1px;
}
tr:nth-child(even){
	background-color: #f2f2f2
}
caption {
	color:gray;
	font-weight:normal;
	font-size:2.5em;
}
.SenadoTitle {
	color:#d84334;
	font-weight:bold;
	font-size:3em;
}
.SenadoSubTitle {
	color:gray;
	font-weight:normal;
	font-size:2em;
}
/* Tooltips */
a span.fototip {
	display:none;
	color: gray;
}
a:hover span.fototip {
	position: absolute;
	display: inline;
	border: 0px solid black;
}
	
element:hover, element:active {
-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-user-select: none;
-webkit-touch-callout: none /*only to disable context menu on long press*/
}